<footer
  class="p-5 text-sm text-gray-600 text-center flex justify-center items-center"
>
  <i class="text-red-600 material-icons-outlined">favorite</i>
  <span
    >Made by
    <a
      href="https://github.com/bue221"
      target="_new"
      class="text-indigo-600 font-semibold"
      >bue221</a
    >
    with
    <a
      href="https://tailwindcss.com/"
      target="_new"
      class="text-teal-600 font-semibold"
      >tailwindcss</a
    >
    &
    <a
      href="https://github.com/angular/angular"
      target="_new"
      class="text-teal-600 font-semibold"
      >Angular js</a
    ></span
  >
</footer>
